%h4 Log In
= form_tag url: sessions_path do
	= label_tag "E-mail"
	= text_field :email, params[:email], class: "divone"
	= label_tag "Password"
	= password_field :password, class: "divone"
	= submit_tag "Log In"