%h3 Sign Up!

= form_for @new_user, url: users_path, method: :post do |u|
	E-mail address:
	#new_email
		= u.email_field :email
	Password:
	= u.password_field :password
	Password Confirmation:
	= u.password_field :password_confirmation
	#new_submit
		= u.submit "Sign Up!" 